#mode {
    display: inline;
    width: 120px;
}

input[type=range] {
    width: 400px;
    margin-right: 20px;
}

#spaceParams {
    width: 450px;
}
#oscilParams, #recieverParams {
    width: 300px;
}

#time, #info {
    font-size: large;
    margin-left: 50px;
}

.canvas-frame {
    position: relative;
} 

#canvas,
#canvasBG {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas {
    z-index: 2;
}
#canvasBG {
    z-index: 1;
}